<form action="/registra" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Cadastramento de clientes</h1>
  <label for="name" class="sr-only">Nome</label>
  <input type="text" name="name" class="form-control" placeholder="Seu nome" required autofocus>
  <label for="cpf" class="sr-only">CPF</label>
  <input type="cpf" name="cpf" class="form-control" placeholder="Seu CPF" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registra</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>

