<div class="full-width text-center">
  <h1 class="display-4">Prezado(a) {{name}},</h1>
  <p class="lead"><strong>Seus dados foram registrados com sucesso.</p>
  <hr>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Voltar</a>
  </p>
</div>
